<h1>There are {{count}} words in your text.</h1>

<a href="{% url 'home' %}">Start again</a>

<h2>Full Text:</h2>
{{fulltext}}

<h2>Word Count:</h2>
{% for word, counttotal in sortedwords %}

{{word}} - {{counttotal}}
<br/>

{%endfor%}